<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acesso Não  Autorizado</title>
    <style>
        div.body {
            color: red;
            font-family: Arial, sans-serif;
            font-size: 34px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
        }
    </style>
</head>
<body>
    <div th:replace="fragments :: navbar"></div>
    <div class="body">Unauthorized Access</div>
</body>
</html>